
h1{
font-family: Avantgarde, Century Gothic, AppleGothic, sans-serif; font-size: 60px; font-style: normal; font-variant: normal; font-weight: 300; line-height: 35px;
 	margin: 0;
	color:#7E8080;
	margin-left: 8%;
	margin-right: 8%;
}
h5{
font-family: Avant Garde, Century Gothic, CenturyGothic, Raleway; font-size: 51px; font-style: normal; font-variant: normal; font-weight: 300; line-height: 25px;
	margin: 0;
	color:#7E8080;
	margin-left: 8%;
	margin-right: 13%;
}
h2{
font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 350; line-height: 26.4px;
	margin: 0;
	color:#95E4EA;
	margin-left: 8%;
	margin-right: 13%;
}
hr{
	width: 1130px;
	color: #00539F;
	border: none;
	border-radius: 18px;
    height: 4px;
    background-color: #95E4EA;
    margin-left: 7%;
}
h4{
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; 
	margin: 0;
	color: #DEE4E4;
	margin-left: 8%;
	margin-right: 13%;
	text-align:justify;
	
}
h6{
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 20px; margin: 0;
	color: #DEE4E4;
	margin-left: 8%;
	margin-right: 13%;
	text-align:justify;
}
li{
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; 
	margin: 0;
	color: #95E4EA;
	margin-left: 8%;
}
p{
	margin-right: 10%;
	margin-left: 7%
}
.esquerda {float: left; margin-left: 3%;}
.direita {float: right; display: inline; margin-right: 22%;}

ol{
	text-align: justify-all;
}
